<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<table>
<%= render @cart %>

  <tr>
    <td colspan="2">Total</td>
    <td><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<%= button_to 'Empty cart', @cart, method: :delete, data: {confirm: 'Are you sure?' } %>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>