<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_woman_path(@woman) %> |
<%= link_to 'Back', women_path %>

<p>
  <strong>Title:</strong>
  <%= @woman.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @woman.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @woman.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @woman.price %>
</p>


