<h1>Products available</h1>

<div class="table-responsive">
  <table class="products">
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= image_tag(product.image_url, class: 'list_image') %>
        </td>
        <td class="list_description">
          <dl>
            <dt><%= product.title %></dt>
            <dd><%= truncate(strip_tags(product.description), length:60) %></dd>
            <dt><%= product.price %></dt>
          </dl>
        </td>
        <td class="list_actions">
          <%= link_to 'Show', product %><br>
          <%= link_to 'Edit Product', edit_product_path(product) %><br/>
          <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to 'New Product', new_product_path %>
