<p id="notice"><%= notice %></p>

<p>
  <em>Title:</em>
  <%= @product.title %>
</p>

<p>
  <em>Description:</em>
  <%= @product.description %>
</p>

<p>
  <em>Image url:</em>
  <%= @product.image_url %>
</p>

<p>
  <em>Price:</em>
  <%= @product.price %>  
</p>

<%= link_to 'Edit', products_path(@product) %> |
<%= link_to 'Back', products_path %>
