<!DOCTYPE html>
<html>
<head>
  <title>Shop Now!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">
  <div id="banner">
  </div>
  <div id="columns">
    <div id="side">
  
      <%= link_to "Home", stores_path %>
      <%= link_to "Products", products_path %>
      <%= link_to "Carts", carts_path %>

    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
