<!DOCTYPE html>
<html>
<head>
  <title>Shop Now!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= link_to "ShopNow", stores_path %> |
  <%= link_to "Products", products_path %> |
  <%= link_to "Orders", orders_path %> |
</head>

<body class="<%= controller.controller_name %>">
  <div class="pull-right user-info">
    <% if current_user %>
      <em> Hello <%= current_user.email %>!</em> <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
    <% end %>
  </div>

  <div id="wrapper">
    <div id="columns">
      <div id="side">
        <% if @cart %> 
          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
          <% end %>
        <% end %>
      </div>
    </div>
  
      <%= yield %>

      <footer id="footer" align="center"> 
        <em>
          Copyright &copy; 2015 CBS VI 360
        </em>
      </footer>
    </div>
  </body>
</html>
