<html 'ng-app' true>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shop Now</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "ShopNow", stores_path, class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Products", products_path %><span class="sr-only">(current)</span></a></li>
          <li class="active"><%= link_to "Women", women_path %><span class="sr-only">(current)</span></a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <div class="pull-right user-info">
            <% if current_user %>
            <%= image_tag(current_user.image.tiny.url) if current_user.image? %>
            <h5>Hi, you're signed in as:</h5> <em><%= link_to (current_user.name || current_user.email), edit_user_registration_path %> </em>
            <%= link_to "Sign out", destroy_user_session_path, class: 'movielink', method: :delete %>
            <div align = "center"><%= image_tag(current_user.image)%></div> <br>
            <% else %>
            <%= link_to "Sign In", new_user_session_path %> <em>or</em> 
            <%= link_to "Sign Up", new_user_registration_path %><br>
            <% end %>
            <%= link_to "Shopping Cart", @cart %>
          </div>
        </ul>

      </div>
    </div>
  </nav>

  <div id="wrapper">
    <div id="columns">
      <div id="side">
        <% if @cart %> 
          <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= yield %>

    <footer id="footer"> 
      <em>
        Copyright &copy; 2015 Shop Now.
      </em>
    </footer>
  </body>
</html>
